{% assign creator_url = include.creator_url | default: 'https://www.designstub.com/product/avana-minimal-portfolio-template-build-with-bootstrap/' %}
<footer role="footer">
    <nav role="footer-nav">
        <ul>
            <li><a href="/" title="Work">Work</a></li>
            <li><a href="/commercialWork/" title="Commercial Work">Commercial Work</a></li>
            <li><a href="/referenceSheets/" title="Reference Sheets">Reference Sheets</a></li>
            <li><a href="/commissioninfo/" title="Commission Info">Commission Info</a></li>
            <li><a href="/bokumonoanniversarycollab/" title="Bokumono 30th Anniversary Collab 2026">Bokumono 30th Anniversary Collab 2026</a></li>
            <li><a href="/contact/" title="Contact">Contact</a></li>
        </ul>
    </nav>
    <ul role="social-icons">
        <li><a target="sena-facebook" href="https://www.facebook.com/CrimSena"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a target="sena-twitch" href="https://www.twitch.tv/sena_ink/"><i class="fa-brands fa-twitch"></i></a></li>
        <li><a target="sena-youtube" href="https://www.youtube.com/channel/UCg1skrM9TEjmvyW_LvCyEdQ"><i class="fa-brands fa-youtube"></i></a></li>
    </ul>
    <p class="copy-right">
        <a style="color: inherit;" href="/privacy/"><u>Privacy</u></a> |
        <a style="color: inherit;" target="new" href="{{ creator_url }}"><u>Creator</u></a>
    </p>
    <br />
    <p class="copy-right">&copy; 2026 | sena | All rights reserved.</p>
</footer>
