---
---
<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta charset="utf-8" />

	<title>Reference Sheets</title>

	<meta name="twitter:title" content="sena's portfolio" />
	<meta name="twitter:image" content="/images/logo.png" />

	<link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />

	<link href="/css/style.css" rel="stylesheet" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/responsive.css" rel="stylesheet" />
	<link href="/css/effects/set2.css" rel="stylesheet" />
	<link href="/css/effects/normalize.css" rel="stylesheet" />
	<link href="/css/effects/component.css" rel="stylesheet" />
</head>

<body>

	{% include site-header.html active="references" %}


	<main role="main-home-wrapper" class="container">
		<div class="row">
			<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<article role="pge-title-content">
					<header>
						<h2><span class="top">Reference Sheets</span>Providing an important reference point</h2>
					</header>
					<p>
						(Examples to be added) The reference sheet will be flat colored. Will work with you to fine pont what you want. Prices for a reference sheet start at 60$ and range to 100$ based on shading and character design details. Half of payment will be requested after a digital sketch is completed. I will provide update information throughout the process. During stages sketch\lineart\flat coloring adjustments are accepted. Adjustments after art is complete will be subject to additional costs.	Cannot do furry characters or mecha characters at this time.
					</p>
				</article>
			</section>

			<!-- Right Column -->
			<section class="col-xs-12 col-sm-6 col-md-6 col-lg-6 grid">
				<ul class="grid-lod effect-2" id="grid">
					<!-- <li>
						<figure class="effect-oscar">
							<img src="/images/index-page/work-9-strippin-red.png" alt="" class="img-responsive" />
							<figcaption>
								<h2>Fanart:<span> Red</span></h2>
								<p>Original character of Twitch streamer, Strippin</p>
							</figcaption>
						</figure>
					</li> -->
				</ul>
			</section>

			<div class="clearfix"></div>
		</div>
	</main>

	{% include site-footer.html %}


	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/nav.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/effects/masonry.pkgd.min.js" type="text/javascript"></script>
	<script src="/js/effects/imagesloaded.js" type="text/javascript"></script>
	<script src="/js/effects/classie.js" type="text/javascript"></script>
	<script src="/js/effects/AnimOnScroll.js" type="text/javascript"></script>
	<script src="/js/effects/modernizr.custom.js"></script>
	<script src="/js/html5shiv.js" type="text/javascript"></script>
	<script src="/js/fontawesome.js" crossorigin="anonymous"></script>
</body>

</html>